@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 40px 80px 0px 80px;
  /* background-color: #fbfbfe; */
  background-color: #f5f5f5;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
